@import '../../App';

.wrapper {
  .listWrapper {
    @include flexDisplay(null, space-between, null, null);
    flex-wrap: wrap;
    list-style-type: none;
    padding-bottom: 10px;

    a {
      margin: 0 10px;
      font-size: 20px;
      text-decoration: none;
    }

    .active.title {
      color: black;
      opacity: 1;
      pointer-events: none;
    }

    .title {
      color: #dcdcdc;
      :hover {
        opacity: 1;
        color: red;
      }
    }
  }

  .target {
    position: absolute;
    border-bottom: 5px solid #dcdcdc;
    transform: translateX();
  }

  .listWrapper a,
  .target {
    transition: all 0.35s ease-in-out;
  }
}

@include responseTo(medium) {
  .wrapper {
    .listWrapper {
      padding-bottom: 5px;
      a {
        font-size: 0.8em;
      }
    }
  }
}
