@import '../../App';
.signUpContainer {
  display: flex;
  flex-direction: column;
  width: 300px;

  .signUpSubTitle {
    color: gray;
  }
  .inputForms {
    display: flex;
    flex-direction: column;
  }
  .signUpButtons {
    display: flex;
    justify-content: flex-end;
  }
}

@include responseTo(medium) {
  .signUpContainer {
    width: 150px;
  }
}
