@import '../../../App';

.signInAndSignUpContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 300px;
}

// @include responseTo(medium) {
//   .signInAndSignUpContainer {
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//   }
// }
