@import '../../App';
.signInContainer {
  display: flex;
  flex-direction: column;
  width: 300px;

  .signInSubTitle {
    color: gray;
  }
  .inputForms {
    display: flex;
    flex-direction: column;
  }
  .signInButtons {
    display: flex;
    justify-content: space-between;
  }
}
@include responseTo(medium) {
  .signInContainer {
    width: 150px;
  }
}
