.signInContainer {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  .signInSubTitle {
    color: gray;
  }
  .inputForms {
    display: flex;
    flex-direction: column;
  }
  .signInButtons {
    display: flex;
    justify-content: space-between;
  }
}
