// @import '../../App';
.cartIcon {
  display: flex;
  align-items: center;
  justify-content: center;

   &:hover {
    cursor: default;
    color: red;
  }

  .icon {
    width: 30px;
    height: auto;
  }
  .item-count {
    position: absolute;
    padding-top: 15px;
  }
}
