@import '../../App';
.cartIcon {
  @include flexDisplay(null, center, center, null);
  @extend %cursorOn;

  .icon {
    width: 30px;
    height: auto;
  }
  .itemCount {
    position: absolute;
    padding-top: 7px;
    font-size: 0.7em;
  }
}
