// @import '../../App';
.cartIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: default;
    color: red;
  }

  .icon {
    width: 30px;
    height: auto;
  }
  .itemCount {
    position: absolute;
    padding-top: 7px;
    font-size: 0.7em;
  }
}
