@import '../../../App';
.donationPageContainer {
  @include flexDisplay(relative, center, center, null);
  height: 100vh;
  width: 100vw;
  .img {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  .imageCover {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
  }

  .spinnerContainer {
    position: absolute;
    margin: auto;
  }

  .contentContainer {
    position: absolute;
    height: 400px;
    width: 400px;
    top: 25%;

    .contentBackground {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: whitesmoke;
      border-radius: 10px;
      opacity: 0.85;
    }
    .textContainer {
      @include flexDisplay(absolute, center, center, column);
      height: 100%;
      width: 100%;
      padding: 2%;
      .title {
        font-weight: bold;
        font-size: 30px;
      }
      .text {
        margin: 10px 0;
        color: grey;
      }
    }
    .donationButtons {
      @include flexDisplay(relative, space-around, center, null);
      flex-wrap: wrap;
    }
  }
}

@include responseTo(medium) {
  .donationPageContainer {
    .contentContainer {
      height: 300px;
      width: 300px;
      top: 15%;

      .textContainer {
        padding: 1%;
        .title {
          font-size: 15px;
        }
        .text {
          margin: 5px 0;
          font-size: 0.8em;
        }
      }
    }
  }
}
