@import '../../App';

.inputFormContainer {
  position: relative;
  margin: 10px 0;

  .inputForm {
    background: none;
    background-color: white;
    color: $textMainColor;
    font-size: 18px;
    padding: 10px 5px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $textSubColor;
    margin: 25px 0;

    &:focus {
      outline: none;
      background-color: whitesmoke;
    }

    &:focus ~ .inputFormLabel {
      @include shrinkLabel();
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .inputFormLabel {
    color: $textMainColor;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    top: 40px;
    transition: 300ms ease-out all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}

@include responseTo(medium) {
  .inputFormContainer {
    margin: 5px 0;

    .inputForm {
      font-size: 12px;
      padding-bottom: 10px;
    }
    .inputFormLabel {
      color: $textMainColor;
      font-size: 11px;
    }
  }
}
