.cart-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;

  .icon {
    width: 30px;
    height: auto;
  }
  .item-count {
    position: absolute;
    padding-top: 15px;
  }
}
