.cartDropdownContainer {
  position: absolute;
  width: 240px;
  display: flex;
  flex-direction: column;
  padding: 10px 0 10px 10px;
  border: solid grey;
  border-width: 1px;
  background-color: white;
  top: 70px;
  right: 10px;
  z-index: 5;
  align-items: center;

  .cartItems {
    min-height: 155px;
    max-height: 255px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  .myButton {
    margin-top: 10px;
  }
  .emptyMessage {
    font-size: 18px;
    margin: auto;
  }
}
