@import '../../App';
.cartDropdownContainer {
  position: absolute;
  width: 240px;
  display: flex;
  flex-direction: column;
  z-index: 5;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 10px;
  border: solid grey;
  border-width: 1px;
  background-color: white;
  top: 70px;
  right: 10px;

  .cartItems {
    min-height: 155px;
    max-height: 255px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  .myButton {
    margin: auto;
    margin-top: 10px;
  }
  .emptyMessage {
    font-size: 18px;
    margin: auto;
  }
}

@include responseTo(medium) {
  .cartDropdownContainer {
    width: 200px;
    top: 70px;
    right: 10px;

    .cartItems {
      min-height: 80px;
      max-height: 125px;
    }
    .myButton {
      margin-top: 5px;
    }
  }
}
