@import '../../App';
.header {
  @include flexDisplay(null, space-between, center, null);
  width: 100vw;
  height: 60px;
  background-color: whitesmoke;
  color: black;
  -webkit-flex: 0 1 auto; /* Safari 6.1+ */
  -ms-flex: 0 1 auto; /* IE 10 */
  flex: 0 1 auto;

  .pageTitle {
    margin-left: 20px;
    font-size: 20px;
    text-decoration: none;
    @extend %cursorOn;
  }

  .optionContainer {
    @include flexDisplay(null, space-between, center, null);
    height: 60px;
    margin-right: 20px;
    font-size: 20px;

    .option {
      @extend %cursorOn;
      margin: 0 10px;
      color: black;
    }
  }
}

@include responseTo(small) {
  .header {
    .pageTitle {
      font-size: 12px;
    }
    .optionContainer {
      font-size: 12px;
    }
  }
}

@include responseTo(medium) {
  .header {
    .pageTitle {
      font-size: 12px;
    }
    .optionContainer {
      font-size: 12px;
    }
  }
}
