@import '../../App'; //Colours
$donationPrimaryColor: #e74c3c;

.myButton {
  width: 120px;
  height: 35px;
  letter-spacing: 0.5px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  &:focus {
    outline: none;
  }

  &.googleButton {
    background-color: #4285f4;
    color: white;
    font-size: 0.3em;
    &:hover {
      background-color: #357ae8;
      border: none;
    }
  }

  &.inverted {
    background-color: black;
    color: white;
    border: 1px solid white;
    font-size: 0.6em;
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
  }

  &.donationButton {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    appearance: none;
    background-color: transparent;
    border: 2px solid $donationPrimaryColor;
    border-radius: 0.6em;
    color: $donationPrimaryColor;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    margin: 20px;

    text-decoration: none;
    text-align: center;

    &:hover {
      color: #fff;
      box-shadow: 0 0 40px 40px $donationPrimaryColor inset;
    }
    &:focus {
      outline: none;
    }
  }
}

@include responseTo(medium) {
  .myButton {
    width: 70px;
    height: 30px;
    letter-spacing: 0.2px;
    font-size: 7px;

    &.googleButton {
      font-size: 0.2em;
      &:hover {
        background-color: #4285f4;
      }
    }

    &:hover {
      background-color: black;
      color: white;
    }
    &.inverted {
      &:hover {
        background-color: black;
        color: white;
        border: 1px solid white;
      }
    }

    &.donationButton {
      color: white;
      box-shadow: 0 0 40px 40px $donationPrimaryColor inset;
      font-size: 1em;
    }
  }
}
