@import '../../App';

.myShopOverviewContainer {
  margin: 0 50px;
  .title {
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0 0 0;
  }
  .myShopItemsContainer {
    .myShopItems {
      @include flexDisplay(relative, space-around, center, null);
      flex-wrap: wrap;
      width: 100%;
    }
  }
}
@include responseTo(medium) {
  .myShopOverviewContainer {
    .title {
      text-align: center;
    }
    .myShopItemsContainer {
      .myShopItems {
        @include flexDisplay(null, center, center, null);
      }
    }
  }
}
