@import '../../App';
.myShopOverviewContainer {
  margin: 0 50px;
  .title {
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0 0 0;
  }
  .myShopItemsContainer {
    .myShopItems {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
  }
}
@include responseTo(medium) {
  .myShopOverviewContainer {
    .title {
      text-align: center;
    }
    .myShopItemsContainer {
      .myShopItems {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
