@import '../../App';
.topContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 800px;
  width: 100vw;
  background: linear-gradient(to right, #eecda3, #ef629f);
  background: -webkit-linear-gradient(to right, #eecda3, #ef629f);
  background: -moz-linear-gradient(to right, #eecda3, #ef629f);
  background: -o-linear-gradient(to right, #eecda3, #ef629f);
  background: -ms-linear-gradient(to right, #eecda3, #ef629f);

  .topTitle {
    top: 200px;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 20px;
    background-color: white;
    color: black;
    mix-blend-mode: screen;
    align-items: center;
    justify-content: center;

    .text {
      font-size: 4em;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

@include responseTo(medium) {
  .topContainer {
    height: 400px;
    .topTitle {
      top: 100px;
      height: 200px;
      width: 200px;
      .text {
        font-size: 2em;
      }
    }
  }
}
