$textMainColor: black;
$textSubColor: grey;
$donationPrimaryColor: #e74c3c;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}
.appContainer {
  position: relative;
  min-height: 100vh;

  .footerContainer {
    position: relative;
    bottom: 0;
  }
}

@mixin shrinkLabel {
  top: 5px;
  left: 5px;
  font-size: 12px;
  color: $textSubColor;
}

@mixin flexDisplay($position, $justifyContent, $alignItems, $flexDirection) {
  position: $position;
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $flexDirection;
}

%cursorOn {
  &:hover {
    cursor: default;
    color: red;
    text-decoration: none;
  }
}

$break-s: 380px;
$break-m: 480px;
@mixin responseTo($media) {
  @if $media == small {
    @media only screen and (max-width: $break-s) {
      @content;
    }
  } @else if $media == medium {
    @media only screen and (max-width: $break-m) {
      @content;
    }
  }
}
