// This is global scss

$break-s: 380px;
$break-m: 480px;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}
.appContainer {
  position: relative;
  min-height: 100vh;

  .footerContainer {
    position: absolute;
    bottom: 0;
  }
}

@mixin cursorOn {
  &:hover {
    cursor: default;
    color: red;
  }
}

@mixin responseTo($media) {
  @if $media == small {
    @media only screen and (max-width: $break-s) {
      @content;
    }
  } @else if $media == medium {
    @media only screen and (min-width: $break-s + 1) and (max-width: $break-m) {
      @content;
    }
  }
}
