// This is global scss

$primary-color: #42f5d7;
$font-color: white;
$titleFont: 'Fredoka One', cursive;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gayathri', sans-serif;
}
