@import '../../../App';

.itemDetailContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1% 3%;

  .imgContainer {
    min-height: 30vh;
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    .img {
      position: relative;
      width: 100%;
    }
    .noDisplay {
      display: none;
    }
    .lds-facebook {
    }
  }

  .textContainer {
    position: relative;
    width: 48%;

    .name {
      font-weight: bold;
      font-size: 2em;
      margin-bottom: 10px;
    }
    .price {
      font-size: 2em;
      margin-bottom: 20px;
    }
    .description {
      margin-bottom: 20px;
    }
    .myButton {
      position: absolute;
      right: 0;
    }
  }
}
