@import '../../../App';
.itemDetailContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100vw;
  min-height: 100vh;
  padding: 3%;

  .imgContainer {
    min-height: 30vh;
    width: 48vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1%;

    .spinnerContainer {
      position: absolute;
      margin: auto;
    }

    .img {
      height: 100%;
      width: 100%;
      display: block;
      background-position: center;
      background-size: cover;
    }
    .noDisplay {
      display: none;
    }
  }

  .textContainer {
    min-height: 30vh;
    width: 48vw;
    margin-left: 1%;

    .name {
      font-weight: bold;
      font-size: 2em;
      margin-bottom: 10px;
    }
    .price {
      font-size: 2em;
      margin-bottom: 20px;
    }
    .description {
      margin-bottom: 20px;
    }
    .myButton {
      float: right;
    }
  }
}

@include responseTo(medium) {
  .itemDetailContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    .imgContainer {
      min-height: 30vh;
      width: 100%;
    }
    .textContainer {
      min-height: 30vh;
      width: 100%;
    }
  }
}
